.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #4c3e7b;
  height: 80px;
  padding: 20px;
  color: white;
  text-align: left;
}

.App-header .menuButton {
  z-index: 1;
  position: fixed;
  top: 20px;
  right: 20px;
}

/* The side navigation menu */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #16a085;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

/* The navigation menu links */
.sidenav a {
  padding: 5px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
  color: #dfdfdf;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/*About*/
.row{
  padding: 100px 30px 40px 30px;
  vertical-align: middle;
}

img {max-width: 100%}

.col-sm-6 {
  vertical-align: middle !important;
}


