.App {
  text-align: center;
  font-size: 14px;
}

.App-logo {
  height: 47px;
  width: 50px;
  margin-top: -5px;
  margin-right: 5px;
}

.App-header {
  background-color: #4c3e7b;
  height: 80px;
  padding: 20px;
  color: white;
  text-align: left;
}

.App-header .nav a {
  color: white;
}

.App-header .nav a:hover {
  color: #4c3e7b;
}

.main-container {
  padding: 20px 20px 80px 20px; /* 80px on bottom for footer */
}

.navbar {
  background-color: #646ba7;
  border: none;
  color: white;
    -webkit-border-radius: 0px;
-moz-border-radius: 0px;
  border-radius: 0px;
}

.navbar li {
  width: auto;
}

.navbar-brand {
  padding: 15px !important;
  color: white;
}

.collapse a {
  color: white !important;
  padding-left: 5px;
  padding-right: 5px;
}

.navbar-collapse {
  border-top: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.nav-item a:hover {
  color: #646ba7 !important;
}

.nav-item:hover {
  background-color: white;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: #f5f5f5;
  padding: 5px;
}

.footer-overdrive {
  float: right;
  margin-right: 10px;
}

.footer-contact-us {
  color: gray;
  float: left;
  font-size: 12px;
  max-width: 50%;
  padding-top: 5px;
  text-align: left;
}

/*About*/
.about-container .row {
  padding: 60px;
  vertical-align: middle;
}

.about-container img {
  display: block;
  margin: auto;
  max-width: 256px;
}

.about-container h2 {
 padding-bottom: 15px;
 color: #4c3e7b;
}

.about-container h1 {
 color: #4c3e7b;
}

.about-container a {
  color: #4c3e7b;
}

.about-container .train {
  min-width: 128px;
}

.about-container .contact-us {
  padding-top: 20px;
}

.about-container .contact-us a {
  color: #0275d8; /* override style above */
}

/* Home */
.card-container {
  display: inline-flex; /* err.... */
  padding-top: 10px;
}

.card-container .card {
  cursor: pointer;
  margin: 10px;
  position: relative;
  display: inline-block;
  width: 200px;
  height: 150px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  -webkit-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card-container .card::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card-container .card:hover {
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.05, 1.05);
}

.card-container .card:hover::after {
  opacity: 1;
}

.card-container .card svg {
  background-color: white;
  position: absolute;
  z-index: 1;
}

.card-container .card img {
  margin: 10px;
  width: 180px;
  height: 130px;
}

.card-container .gray {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.card-container .card svg {
  border-radius: 45px;
}


/* Search */
.search-container input {
  margin-top: 20px;
  width: 90%;
  max-width: 800px;
  height: 45px;
  padding-left: 10px;
  border: 1px solid darkgray;
  -moz-box-shadow:    0px 0px 4px 0px #8879b9;
  -webkit-box-shadow: 0px 0px 4px 0px #8879b9;
  box-shadow:         0px 0px 4px 0px #8879b9;
}

.search-container input:focus{
  outline: none;
}

.search-container ul {
  padding-left: 0;
  margin-right: 5%;
  list-style-type: none;
  text-align: left;
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 800px;
  margin: auto;
  width: 90%;
}

.search-container li .result {
  margin: 0;
  border: 1px solid darkgray;
  border-top: none;
  padding: 5px;
  height: 100px;
}

.search-container li .result {
  margin: 0;
  border: 1px solid darkgray;
  border-top: none;
  padding: 5px;
  height: 100px;
}
.search-container li .result {
  margin: 0;
  border: 1px solid darkgray;
  border-top: none;
  padding: 5px;
  height: 100px; /* safari */
}

.search-container li .result div {
  height: 100%; /* safari */
}

.search-container li .result img {
  padding: 5px;
  height: 100%;
}

.search-container li .result .result-details {
  padding: 5px;
}

.search-container li .result .title {
    font-weight: bold;
}

.search-container li .result .checkout-info {
  padding: 5px;
}

.search-container li .result .author {
}

/* Resources Pages */
.resources-container img {
  display: block;
  margin: auto;
  height: auto;
  width: 60%;
  min-width: 200px;
}

.resources-container .row {
  padding: 60px;
  vertical-align: middle;
}

.resources-container h2 {
 padding-bottom: 15px;
 color: #4c3e7b;
}

.resources-container h1 {
 color: #4c3e7b;
}

.resources-container a {
  color: #4c3e7b; 
}
